<a href="https://colab.research.google.com/github/kdwivedi1985git/datascience/blob/main/basic/1_pythonbasics_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This notebook covers basic stuff like variable declaration, condition, loop maths function, String, lambda etc.

## Python Keywords

In [168]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Min max between numbers and format method

In [ ]:
a=20
b=10
print(max(a,b))
print(min(a,b))
txt="max={} and min={}"
print(txt.format(max(a,b), min(a,b)))

20
10
max=20 and min=10

# Check Armstrong Number
abcd... = pow(a,n) + pow(b,n) + pow(c,n) + pow(d,n) + ....
153 is an Armstrong number.
1*1*1 + 5*5*5 + 3*3*3 = 153

In [ ]:
x=153

tmpStr=str(x)
y=len(tmpStr)
sum=0

while x > 10:
    num=x%10
    sum=sum+pow(num,y)
    x=x//10

sum=sum+pow(x,y)

print(sum)

153

* / gives value in decimal while // will remove the decimal value while dividing tho numbers.
- e.g. 153/10 = 15.3

     153//10= 15

In [ ]:
x=153

tmpStr=str(x)
y=len(tmpStr)
total=0

for num in tmpStr:
    total+= int(num) ** y

print(total)

153

## Print Prime numbers

* input(<>) - is used for taking input from user
- int(X) - will convert X in numeric value, if that is a number

In [ ]:
x=int(input("Enter the interval for prime numbers "))

primeNum=[2,3]

for i in range(4,x):
    if i%2 !=0 and i%3 !=0:
        primeNum.append(i)

print(primeNum)

Enter the interval for prime numbers 30
[2, 3, 5, 7, 11, 13, 17, 19, 23, 25, 29]

In [ ]:
x=int(input("Enter the interval for prime numbers "))

primeNum=[2,3]
primeNum=[i for i in range(4,x) if i%2 !=0 and i%3 !=0]


primeNum.insert(0,2)
primeNum.insert(1,3)
print(primeNum)

Enter the interval for prime numbers 30
[2, 3, 5, 7, 11, 13, 17, 19, 23, 25, 29]

# Fibbonacci Series

In [ ]:
x=int(input("Enter the number you want fibbonacci series upto "))


fibbo=[1,2]
num=fibbo[-1]

while num < x:
    newnum=fibbo[-1]+fibbo[-2]
    if newnum<x:
        fibbo.append(newnum)
    num=newnum

print(fibbo)

Enter the number you want fibbonacci series upto 30
[1, 2, 3, 5, 8, 13, 21]

#### Uncomment and run this if running next section throws - TypeError: 'int' object is not callable. This error comes if you define OOTB function as variable in you notebook. We have defined "sum" as variable above but "sum()" is OOTB function as well. Deleting the variable will remove the error. - **del sum**

In [ ]:
#del sum

In [ ]:
print(sum(fibbo))

53

# nth Fibbonacci number

- Fibbonacci series with recursion
- **def** keyword to defin the function

In [ ]:
def fibbo(n):
    if n<=0:
        return "Incorrect Num"
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibbo(n-1)+fibbo(n-2)

fibbo(10)

34

# ASCII code

The **ord()** function returns an integer representing the Unicode character

In [ ]:
ch='a'

print(ord(ch))
print(ord(ch)+3)
print(chr(97))
print(chr(ord(ch)+3))

97
100
a
d

# Cube sum of n number

- Iterating through loop and storing the output as list in one line.

In [ ]:
num=5

x=[pow(i,3) for i in range(1,num+1)]
print(x)
print(sum(x))

[1, 8, 27, 64, 125]
225

# Largest and Smallest element in an array

In [ ]:
arr=[4,5,2,5,7,324,7,5348,1,535,1,4]

print(min(arr))
print(max(arr))

1
5348

# Reverse the array

In [ ]:
print("Reversed List::",arr[::-1])
print("Every Alternate value in Reversed order::::",arr[::-2])
print("All elements except last one::",arr[:-1])
print("All elements except last two::",arr[:-2])

Reversed List:: [4, 1, 535, 1, 5348, 7, 324, 7, 5, 2, 5, 4]
Every Alternate value in Reversed order:::: [4, 535, 5348, 324, 5, 5]
All elements except last one:: [4, 5, 2, 5, 7, 324, 7, 5348, 1, 535, 1]
All elements except last two:: [4, 5, 2, 5, 7, 324, 7, 5348, 1, 535]

In [ ]:
arr = [11, 22, 33, 44, 55]
arr.reverse()
print(arr)

[55, 44, 33, 22, 11]

# Reverse and pickup evey alternate

In [ ]:
print("Reversed in difference on 2-",arr[::-2])
print("all before second last",arr[:-2])

Reversed in difference on 2- [11, 33, 55]
all before second last [55, 44, 33]

# Program to Split the array and add the first part to the end

In [96]:
arr = [12, 10, 5, 6, 52, 36]

x=arr[0:2]
y=arr[2:len(arr)]

print(x)
print(y)

z=y+x
print(z)

[12, 10]
[5, 6, 52, 36]
[5, 6, 52, 36, 12, 10]

# lambda

> Add blockquote

In [97]:
x = (lambda a: pow(a,a)) (3)
print(x)

27

In [98]:
x =lambda a: a*a
print(x(10))

100

In [99]:
x=lambda a,b: a+b
print(x(10,20))

30

In [100]:
#Type1
def cube(x):
    return x*x*x

print(cube(10))

#Type2
cb=(lambda y: y*y*y) (10)
print(cb)

#Type 3
cb1=lambda y: y*y*y
print(cb1(10))

1000
1000
1000

# Left Rotate the array from specified index

In [ ]:
num=4
arr=[1,2,3,4,5,6,7,8]

pidx=arr.index(num)
nidx=pidx-len(arr)

print("index=",pidx)
print("index=",nidx)

while pidx > nidx:
    tmp=arr[pidx-1]
    arr[pidx-1]=num
    num=tmp
    pidx=pidx-1

print(arr)

index= 3
index= -5
[2, 3, 4, 5, 6, 7, 8, 1]

# Enumerate - index and value

In [101]:
arr=[100,200,300,400,5000,600,70,80]

for i, j in enumerate(arr):
    print(i,"::",j)

0 :: 100
1 :: 200
2 :: 300
3 :: 400
4 :: 5000
5 :: 600
6 :: 70
7 :: 80

# Swap Two Elements in a List

In [ ]:
lst = [1, 2, 3, 4, 5]
print(lst)

poslist = input("Input two number in comma seperated way ")
#pos = list(map(int,poslist.split(','))) #This should work, map calls the first paramenter for each item in the list
pos=poslist.split(',')
print(pos)

x=lst[int(pos[0])]
lst[int(pos[0])]=lst[int(pos[1])]
lst[int(pos[1])]=x


print(lst)

[1, 2, 3, 4, 5]
['2', '4']
[1, 2, 5, 4, 3]

# Check if element exists in list in Python

In [102]:
lst = [1, 6, 3, 5, 3, 4]
x=int(input("Which number you want to seach? "))

if x in lst:
    print(x,"Exists!")
else:
    print(x,"doesn't exists!")

Which number you want to seach? 5
5 Exists!

# Different ways to clear a list in Python

In [103]:
lst = [1, 6, 3, 5, 3, 4]
lst.clear()
print(lst)

lst = [1, 6, 3, 5, 3, 4]
lst.pop()
print(lst)

lst.remove(6)
print(lst)

lst = ['a', 'b', 'c', 'd']
lst.remove('b')
print(lst)


lst = [1, 6, 3, 5, 3, 4]
lst=[]
print(lst)

lst = [1, 6, 3, 5, 3, 4]
del lst[:]
print(lst)


del(lst) #or del lst
print(lst) #removes the object from memory

[]
[1, 6, 3, 5, 3]
[1, 3, 5, 3]
['a', 'c', 'd']
[]
[]

NameError: name 'lst' is not defined

# Python program to find sum,max,min of elements in list

In [104]:
lst=[12, 15, 3, 10]
print(sum(lst))
print(max(lst))
print(min(lst))

40
15
3

# Multiply all numbers in the list

In [105]:
lst = [1, 2, 3,5,10]

def multiply(mylist):
    res=0
    for i in mylist:
        if(res==0):
            res=i
        else:
            res=res*i
    return res

print(multiply(lst))

300

# find N largest elements from a list

In [106]:
mylst=[2,6,1,90,3,5,7,15,9,1]
myset=set(mylst)
print(myset)
#since, set doesn't have index method to read the value, conver that to list
finallist=list(myset)
#n largest = n-1
print(finallist[2])

{1, 2, 3, 5, 6, 7, 9, 15, 90}
3

# print even numbers in a list

In [107]:
arr=[2, 7, 5, 64, 14]

res=[i for i in arr if i%2==0]
print(res)

[2, 64, 14]

# print all positive numbers in a range

In [108]:
start,end = -4,5

for i in range(start, end+1):
    if i>=0:
        print(i)

0
1
2
3
4
5

# Print the negative numbers in the list

In [109]:
lst = [11, -21, 0, 45, 66, -93]

for i in lst:
    if i<0:
        print(i)

-21
-93

# Remove multiple elements from a list in Python

In [110]:
input=[11, 5, 17, 18, 23, 50]
del input[1:4]
print(input)

[11, 23, 50]

# Remove empty List from List

In [112]:
test_list = [5, 6, [], 3, [], [], 9]

res = [i for i in test_list if i !=[]]
print(res)

res1= list(filter(None,test_list))
print(res1)

while [] in test_list:
    test_list.remove([])
print(test_list)

[5, 6, 3, 9]
[5, 6, 3, 9]
[5, 6, 3, 9]

# Cloning or Copying a list

In [113]:
lst = [4, 8, 2, 10, 15, 18]
lst1=lst.copy()
del lst
print(lst1)

lst2=lst1[:]
del lst1
print(lst2)

[4, 8, 2, 10, 15, 18]
[4, 8, 2, 10, 15, 18]

# Count occurrences of an element in a list

In [114]:
find=8
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]

count=0
for i in lst:
    if i==find:
        count+=1
print(find, "occurs", count, "times")

8 occurs 5 times

# Remove empty tuples from a list

In [ ]:
lst = [(), ("ram","15","8"), (), ("laxman", "sita"), ("45"), (","),()]

while () in lst:
    lst.remove(())

print(lst)

[('ram', '15', '8'), ('laxman', 'sita'), '45', ',']

# print duplicates from a list of integers

In [115]:
list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

myset=set(list)
print(myset)

{40, 10, -20, 50, 20, 60, 30}

# Sort the values of first list using second list

In [125]:
list1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
list2 = [ 0,   1,   1,    0,   1,   2,   2,   0,   1]



paired= zip(list2,list1)
#print(sorted(paired))



res=[i[1] for i in sorted(paired)]
print(res)

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']

# check whether the string is Symmetrical or Palindrome

In [129]:
teststr="amaama"
revstr=teststr[::-1]

print(revstr)
if teststr == revstr :
    print("String is palindrom")

amaama
String is palindrom

# Reverse Words in a Given String

In [138]:
str =" good quiz practice code"
print(str.split()[::-1])

#OR
wrd= str.strip().split(" ")
reversedStr= wrd[::-1]
print(reversedStr)

res=""
for i in reversedStr:
    res=res+i+" "
print(res)

['code', 'practice', 'quiz', 'good']
['code', 'practice', 'quiz', 'good']
code practice quiz good

#  Remove/Replcae Letters From a String

In [139]:
str="Good123For123Good"

str1=str.replace("e","X")
print(str1)

str2=str1.replace("X","")
print(str2)

str = 'Good123For123Good'
str3=str.translate( {ord(i): None for i in "123"})
print(str3)

Good123For123Good
Good123For123Good
GoodForGood

# String Contains Substring

In [140]:
MyString1 = "A person in need is a geek indeed"

if "geek" in MyString1:
    print("exist!")
else:
    print("Doesn't exists!")

if MyString1.find("person") !=-1:
    print("exist!")
else:
    print("Doesn't exists!")


if MyString1.count("person") > 0:
    print("exist!")
else:
    print("Doesn't exists!")

exist!
exist!
exist!

# Words Frequency - String to Map of word count

In [141]:
mystr = "Gfg is best . People are good and People like Gfg"

mydisc= {key: mystr.count(key) for key in mystr.split()}
print(mydisc)

{'Gfg': 2, 'is': 1, 'best': 1, '.': 1, 'People': 2, 'are': 1, 'good': 1, 'and': 1, 'like': 1}

# print even length words in a string

In [137]:
mystr=" Hello my name is Kamal!"

mylst=[word for word in mystr.strip().split() if len(word)%2==0]
print(mylst)

['my', 'name', 'is', 'Kamal!']

# Program to Accept the Strings Which Contains all Vowels
- User **intersection** and **difference** function

In [143]:
input="goodforgood".lower()

vowels=[input.count("a"),input.count("e"),input.count("i"),input.count("o"),input.count("u")]
print(vowels)

if vowels.index(0) !=-1:
    print("Not Accepted")
else:
    print("Accepted")

if vowels.count(0) > 0:
    print("Not Accepted")
else:
    print("Accepted")


####OR###########
myinput="q ew aodsfds u fdsfi"
myset=set(myinput)
vow="aeiou"

res=myset.intersection(vow)
print(res)
if(len(res)>5):
    print("Accepted")
else:
    print("Not accepted")

print("is Accpted:",set(vow).issubset(myinput))

###OR###
if set(vow).difference(myinput)==0:
    print("Accepted")
else:
    print("Not accepted")
####OR###########

myinput="q ew aodsfds u fdsfi"

if all(v in myinput for v in vow):
    print("Accpted")
else:
    print("NO")

[0, 0, 0, 5, 0]
Not Accepted
Not Accepted
{'u', 'o', 'a', 'i', 'e'}
Not accepted
is Accpted: True
Not accepted
Accpted

# Least Frequent Character in String

In [144]:
str = "GoodforGood"

disc={ch:str.count(ch) for ch in str}
print(disc)

for i,j in disc.items():
    print(i,j)

sorted(disc.items(),key=lambda x:x[1])

{'G': 2, 'o': 5, 'd': 2, 'f': 1, 'r': 1}
G 2
o 5
d 2
f 1
r 1

[('f', 1), ('r', 1), ('G', 2), ('d', 2), ('o', 5)]

# Maximum frequency character in String

In [145]:
str = "GoodforGood"

mydisc={}
for ch in str:
    if ch in mydisc:
        mydisc[ch]+=1
    else:
        mydisc[ch]=1

print(mydisc)

{'G': 2, 'o': 5, 'd': 2, 'f': 1, 'r': 1}

# check if a string contains any special character

In [146]:
str="Good$for$Good"

spcl="!@#$%^&*()_"

for ch in str:
    if ch in spcl:
        str=str.replace(ch,"")
print(str)

GoodforGood

#  Remove i-th character from a string

In [151]:
str="GoodforGood"
print("  ".join(str))
strlst=" ".join(str).split(" ")
print(strlst)
del strlst[5]

print(strlst)

G  o  o  d  f  o  r  G  o  o  d
['G', 'o', 'o', 'd', 'f', 'o', 'r', 'G', 'o', 'o', 'd']
['G', 'o', 'o', 'd', 'f', 'r', 'G', 'o', 'o', 'd']

# Find all duplicate characters in string

In [153]:
input="GoodforGood"

chdisc={}
reslst=set({})
for ch in input:
    if ch in chdisc:
        chdisc[ch]+=1
        reslst.add(ch)
    else:
        chdisc[ch]=1

print(reslst)
print(chdisc)

{'G', 'o', 'd'}
{'G': 2, 'o': 5, 'd': 2, 'f': 1, 'r': 1}

# Extract Unique values dictionary values

In [154]:
test_dict = {'gfg': [5, 6, 7, 8],
             'is': [10, 11, 7, 5],
             'best': [6, 12, 10, 8],
             'for': [1, 2, 5]}

myset={ele for val in test_dict.values() for ele in val}
print(myset)

{1, 2, 5, 6, 7, 8, 10, 11, 12}

# find the sum of all items in a dictionary

In [155]:
input={"a": 100, "b":200, "c":300}
print(sum(input.values()))

600

# remove a key from dictionary

In [156]:
mydsc={"Anuradha": 21, "Haritha": 21, "Arushi": 22, "Mani": 21}

mydsc.pop("Arushi")
print(mydsc)

mydsc.popitem()
print(mydsc)

mydsc.clear()
print(mydsc)

del mydsc

print(mydsc)

{'Anuradha': 21, 'Haritha': 21, 'Mani': 21}
{'Anuradha': 21, 'Haritha': 21}
{}

NameError: name 'mydsc' is not defined

# sort list of dictionaries by values

In [157]:
list = [{"name": "Nandini", "age": 20},
       {"name": "Manjeet", "age": 20},
       {"name": "Nikhil", "age": 19}]

print(sorted(list, key=lambda i: (i['age'], i['name'])))

print(sorted(list, key=lambda i: (i['age']),reverse=True))

[{'name': 'Nikhil', 'age': 19}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nandini', 'age': 20}]
[{'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nikhil', 'age': 19}]

# Merging two Dictionaries

In [158]:
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}

dict1.update(dict2)
print(dict1)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

# Convert key-values list to flat dictionary

In [160]:
test_dict = {'month' : [1, 2, 3],
             'name' : ['Jan', 'Feb', 'March']}

newdisc={}
for i, j in zip(test_dict["month"], test_dict["name"]):
    print(i, j)
    newdisc[i]=j

print(newdisc)

mydisc={i:j for i, j in zip(test_dict["month"], test_dict["name"])}
print(mydisc)

mydisc=dict(zip(test_dict["month"], test_dict["name"]))
print(mydisc)

1 Jan
2 Feb
3 March
{1: 'Jan', 2: 'Feb', 3: 'March'}
{1: 'Jan', 2: 'Feb', 3: 'March'}
{1: 'Jan', 2: 'Feb', 3: 'March'}

#   Append Dictionary Keys and Values

In [165]:
test_dict = {"Gfg" : 1, "is" : 2, "Best": 3}
del list
res = list(test_dict.keys()) + list(test_dict.values())
print(res)

['Gfg', 'is', 'Best', 1, 2, 3]

# Convert a list of Tuples into Dictionary

In [166]:
def convert(tup, di):
    di=dict(tup)
    return di

lst=[("akash", 10), ("gaurav", 12), ("anand", 14),
         ("suraj", 20), ("akhil", 25), ("ashish", 30)]

di={}
print(convert(lst, di))

print(dict(lst))

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}
{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

# Python keywords

In [167]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# OS Module and working thouugh directories

In [179]:
import os

#print("Current user",os.getlogin())
print("Environment Variable", os.getenv("JAVA_HOME"))
print("PID::",os.getpid())
print("PPID::",os.getppid())
print("Directory path::",os.getcwd())
print("path::",os.getcwdb())
print("chmod::",os.chmod("/content/test.txt",mode=1))
print("cpu::",os.cpu_count())
print("list::",os.listdir())
#print(os.dup(0)) #Create duplicate file descriptor
#print(os.dup2(2))
print("OS Name::",os.name)
#print(os.chdir("your dir\\sampledata"))
print("Path::",os.getcwd())
#print("New dir",os.mkdir("pybasicpractice-samples"))
#print("New dirs::",os.makedirs("pybasicpractice-samples2"))
#print("Abort kernel. You will require to restart",os.abort())
print("Absolute Path::",os.path.abspath("sampledata"))
#print("Size of file::",os.path.getsize(filename="test.txt"))
print("If file exists::",os.path.exists("test.txt"))
print("If dir::",os.path.isdir("test.txt"))
print("If file ::",os.path.isfile("test.txt"))

print("################Iterator through a Directory#####################")
filelst=[]
folderlst=[]
for ele in os.listdir():
    if os.path.isfile(ele):
        filelst.append(ele)
    else:
        folderlst.append(ele)

print(filelst)
print(folderlst)

Environment Variable None
PID:: 205
PPID:: 84
Directory path:: /content
path:: b'/content'
chmod:: None
cpu:: 2
list:: ['.config', 'test.txt', 'sample_data']
OS Name:: posix
Path:: /content
Absolute Path:: /content/sampledata
If file exists:: True
If dir:: False
If file :: True
################Iterator through a Directory#####################
['test.txt']
['.config', 'sample_data']

# File Handling

### Write a Python program to read an entire text file.

In [174]:
filename="/content/test.txt"
fd= open(file=filename, mode="r")
print("1>>",fd.readlines())
print("\n")



with open(filename,"r") as fd1:
    print("2>>",fd1.read())
    print("\n")

with open(filename,"r") as fd2:
    print("3>>readline only reads first line",fd2.readline())
    print("\n")

fd.close()
fd1.close()
fd2.close()

1>> ['This is line1\n', 'This is line2\n', 'This is line3']


2>> This is line1
This is line2
This is line3


3>>readline only reads first line This is line1

### Write a Python program to read first n lines of a file.

In [180]:
filename="/content/test.txt"

fd=open(filename,"r")

#Read fist 2 lines
for line in range(2):
    print(fd.readline())

fd1=open(filename,"r")

x=0
while x<3:
    print(fd1.readline())
    x+=1

fd.close()
fd1.close()

This is line1

This is line2

This is line1

This is line2

This is line3

###  program to append text to a file and display the text

In [182]:
filename="/content/test.txt"

fd=open(filename,"a+")

fd.write("\nThis is new appended line\n")
print("Currunt position of the cursor::",fd.tell())
print("Set the cursor position::",fd.seek(0))
print(fd.readlines())

fd.close()

Currunt position of the cursor:: 96
Set the cursor position:: 0
['This is line1\n', 'This is line2\n', 'This is line3This is new appended line\n', '\n', 'This is new appended line\n']

### Python program to read last n lines of a file

In [183]:
filename="/content/test.txt"

fd=open(filename,"r")
printlastlines=3

filecontent=fd.readlines()
totallines=len(fd.readlines())
print("totallines available::",totallines)

linestobeskipped=totallines-printlastlines
print("lines to be skipped::",linestobeskipped)

print("lines to be printed::",printlastlines)

print(filecontent[8:11])

totallines available:: 0
lines to be skipped:: -3
lines to be printed:: 3
[]